@model DailyShopStoreReport.Models.Expense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChequeNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChequeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Particular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Particular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
